@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Vina+Sans&display=swap');
.Contenedor{
    background-image: url('../../Fondo.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  overflow: hidden;
}

.DivLargo{
  font-family: 'Vina Sans', cursive;
  color:rgb(37, 3, 3);
  font-style: italic;
  width:100vw;
  font-size: 9vh;
  background-color: rgba(250, 230, 230,0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  mix-blend-mode: screen;
}
.Welcome{
  width:100vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-size: 21px;
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 5px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  -webkit-text-stroke: 1px black;
  color: white; 
}

.Boton{
  text-decoration:none; text-align:center; 
 padding:5px 61px; 
 border:solid 1px #000000; 
 border-radius: 4px; 
 font:13px "MS Serif", "New York", serif; 
 font-weight:bold; 
 color:#000000; 
 background-color:#84e494;   
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 text-shadow: 1px 1px 0px #000000; 
 filter: dropshadow(color=#000000, offx=1, offy=1); }.button:hover{
 padding:5px 61px; 
 border:solid 1px #025c82; 
 border-radius: 4px; 
 font:13px "MS Serif", "New York", serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#00bfff; 
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 text-shadow: 1px 1px 0px #000000; 
 filter: dropshadow(color=#000000, offx=1, offy=1);}.button:active{
 padding:5px 61px; 
 border:solid 1px #025c82; 
 border-radius: 4px; 
 font:13px "MS Serif", "New York", serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#000000; 
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 text-shadow: 1px 1px 0px #000000; 
 filter: dropshadow(color=#000000, offx=1, offy=1);
}